.header__library {
  background-color: black;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.56) 90%
      rgba(26, 26, 31, 0.5) 20%,
    ),
    url(/src/images/library-header.png);
  height: 230px;
  background-size: cover;
  background-position: center bottom;
  font-family: 'Roboto', sans-serif;
}

.header__container-library {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 70px 10px 70px;
}

.library-header__button {
  cursor: pointer;
  background: transparent;
  text-transform: uppercase;
  height: 44px;
  width: 136px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 5px;
  color: rgba(255, 255, 255, 1);
  border-color: rgba(255, 255, 255, 1);
  transition: ease-in-out background-color 0.3s, border 0.5s, box-shadow 0.3s;

  &:hover,
  &:focus {
    border: none;
    background-color: rgba(255, 107, 1, 1);
    box-shadow: 0px 8px 43px 0px rgba(255, 107, 1, 0.6);
  }
}

.button_selected{
  border: none;
  background-color: rgba(255, 107, 1, 1);
  box-shadow: 0px 8px 43px 0px rgba(255, 107, 1, 0.6);
}

.library-header__buttons-list {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 15px;
  margin-bottom: 20px;
}

@media (max-width: 470px) {
  .header__container-library {
    padding: 40px 50px 30px 50px;
  }

  .library-header__buttons-list {
    padding: 0;
  }
}
