.is-hidden {
  visibility: hidden;
  pointer-events: none;
}
.animate__zoomIn {
  margin: 0 0.5rem;
  animation: zoomIn;
  animation-duration: 0.5s;
}
.backdrop {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
}

.modal__btn {
  &-close {
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: rgb(255, 255, 255);
    display: flex;
    cursor: pointer;
    position: fixed;
    align-items: center;
    justify-content: center;
  }

  &-svg {
    width: 18px;
    height: 18px;
    fill: rgba(0, 0, 0, 1);

    &:hover,
    &:focus {
      fill: rgba(255, 107, 8, 1);
    }
  }
}

.modal {
  display: flex;
  flex-direction: row;
  position: absolute;
  gap: 30px;
  padding: 40px 30px;
  top: 50%;
  left: 50%;
  width: 882px;
  height: 568px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.movie_img {
  width: 396px;
  height: 477.8px;
  border-radius: 5px;
  padding: 0;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.modal__information {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: start;
}

.information__title {
  width: 266px;
  height: auto;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.17;
  color: rgba(0, 0, 0, 1);
  padding: 0;
  margin: 0;
}

.information__data {
  display: flex;
  gap: 50px;
  padding: 0;
  margin: 0;
  flex-direction: row;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  justify-content: space-between;

  &-tittle {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 0;
    margin: 0;
    color: rgba(140, 140, 140, 1);
    list-style: none;
  }

  &-values {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin: 0;
    color: rgba(0, 0, 0, 1);
    list-style: none;
  }
}

.information__about {
  margin: 0;
  padding: 0;
  gap: 50px;
  color: rgba(0, 0, 0, 1);

  &-tittle {
    margin: 0 0 -15px;
    padding: 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.66;
  }

  &-text {
    margin: 0;
    padding: 0;
    width: 396px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.66;
    height: auto;
  }
}

.modal__action-buttons {
  gap: 15px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.action-btn {
  width: 136px;
  height: 44px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid black;
  background-color: white;
  transition: ease-in-out color 0.3s, background-color 0.5s, border 0.5s;
  cursor: pointer;
  text-align: center;

  &:hover {
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 107, 1, 1);
    background-color: rgba(255, 107, 1, 1);
  }
}

.watched-button.clicked {
  background-color: rgb(255, 107, 1);
  color: rgb(255, 255, 255);
  border: none;
}

.addToQueue-button.clicked {
  background-color: rgb(255, 107, 1);
  color: rgb(255, 255, 255);
  border: none;
}
