#pagination-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 603px;
  padding-right: 603px;
  margin-top: 40px;
  margin-bottom: 40px;
  gap: 10px;
}

.pagination-button {
  border: none;
  cursor: pointer;
  padding: 0;
  width: 40px;
  margin: 0 0;
  height: 40px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.pagination-button:active:focus:hover {
  background-color: rgb(255, 107, 8);
  color: rgb(255, 255, 255);
}

.pagination-button:hover {
  background-color: rgb(255, 107, 8);
  color: rgb(255, 255, 255);
}

.current-page {
  background-color: rgb(255, 107, 8);
  color: rgb(255, 255, 255);
}
