#pagination {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
}

#pagination-container {
  align-self: center;
  display: flex;
<<<<<<< HEAD
  align-items: center;
  width: 100%; /* Ancho completo */
  width: 374px; /* Máximo ancho deseado */
=======
  justify-content: space-around;
  align-items: center;
  padding-left: 603px;
  padding-right: 603px;
>>>>>>> 1371966fd0c35a1089b3084de0022e39e01a7894
  margin-top: 40px;
  margin-bottom: 40px;
  gap: 10px;
}

.pagination-button {
  border: none;
  cursor: pointer;
  padding: 0;
  width: 40px;
  margin: 0 0;
  height: 40px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.pagination-button:active:focus:hover {
  background-color: rgb(255, 107, 8);
  color: rgb(255, 255, 255);
}

.pagination-button:hover {
  background-color: rgb(255, 107, 8);
  color: rgb(255, 255, 255);
}

.current-page {
  background-color: rgb(255, 107, 8);
  color: rgb(255, 255, 255);
}


// Responsive Styles to tablet device
@media (min-width: 471px) and (max-width:768px) {
  #pagination-container {
    padding: 20px 50px 20px 50px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

