h2 {
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
}

.watched-button {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  width: 136px;
  height: 44px;
  border-radius: 4px;
  top: 522px;
  left: 527px;
  text-transform: uppercase;
  line-height: 16px;
  text-align: center;
  margin-right: 15px;
  border: 1px solid #000000;
}

.watched-button:hover {
  background-color: #ff6b01;
  color: #ffffff;
  border: none;
}

.watched-button.clicked {
  background-color: #ff6b01;
  color: #ffffff;
  border: none;
}

.addToQueue-button {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12px;
  background-color: #ffffff;
  color: #000;
  border: none;
  width: 136px;
  height: 44px;
  border-radius: 5px;
  top: 522px;
  left: 527px;
  text-transform: uppercase;
  line-height: 16px;
  text-align: center;
  left: 678px;
  border-radius: 5px;
  border: 1px solid #000000;
}

.addToQueue-button:hover {
  background-color: #ff6b01;
  color: #ffffff;
  border: none;
}

.addToQueue-button.clicked {
  background-color: #ff6b01;
  color: #ffffff;
  border: none;
}

.buttons-container {
  display: flex;
  gap: 15px;
  width: 290px;
}

.movie {
  flex-wrap: wrap;
  /* gap: 15px; */
  /* width: 380px; */
}
