<ul class="gallery list">
  <!-- Las imágenes de TMDB se agregarán aquí dinámicamente -->
</ul>
<section id="footer" class="footer">
  <div class="container">
    <div class="footer_pagination">
      <button type="button" class="pagination_prev">
        <svg class="information_icon">
          <use href="/src/images/svg/svg-icons.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <ul type="button" class="pagination_links"></ul>
      <button type="button" class="pagination_next">
        <svg class="information_icon">
          <use href="/src/images/svg/svg-icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
