<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Buscador</title>
  </head>
  <body>
    <div class="form-container">
      <form class="search-form" id="search-form">
        <input
          type="text"
          name="searchQuery"
          autocomplete="off"
          placeholder="Search movies..."
          <!--
          Cambia
          el
          texto
          del
          marcador
          de
          posición
          --
        />
        <button type="submit">Search</button>
      </form>
    </div>

    <div class="gallery">
      <!-- Las imágenes de Pixabay se agregarán aquí dinámicamente -->
    </div>
    <div class="container">
      <button type="button" class="load-More">Load more</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="index.js" type="module"></script>
  </body>
</html>
