<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../sass/footer.css" />
  </head>
  <body>
    <section id="footer" class="footer">
      <div class="container">
      <div class="footer_pagination">
        <button type="button" class="pagination_prev">
          <svg class="information_icon">
            <use href="../images/svg/svg-icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <ul type="button" class="pagination_links"></ul>
        <button type="button" class="pagination_next">
          <svg class="information_icon">
            <use href="../images/svg/svg-icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
      <div class="footer_information">
        <p class="information_text">
          © 2020 | All Rights Reserved | Developed with
        </p>
        <svg class="information_icon">
          <use href="../images/svg/svg-icons.svg#icon-love"></use>
        </svg>
        <p class="information_text">GoIT Students</p>
      </div>
      <!-- </div> -->
    </section>
  </body>
</html>
