<div data-modal class="backdrop is-hidden">
  <div class="modal">
    <div data-modal-close class="modal__btn-close">
      <svg class="modal__btn-svg">
        <use href="/src/images/svg/svg-icons.svg#icon-close"></use>
      </svg>
    </div>
    <div class="modal_img"><img class="movie_img" /></div>
    <div class="modal__information">
      <span class="information__id" style="display: none"></span>
      <h2 class="information__title"></h2>
      <div class="information__data">
        <ul class="information__data-tittle">
          <li>Vote / Votes</li>
          <li>Popularity</li>
          <li>Original Title</li>
          <li>Genre</li>
        </ul>
        <ul class="information__data-values">
          <li class="vote"></li>
          <li class="popu"></li>
          <li class="o_title"></li>
          <li class="genre"></li>
        </ul>
      </div>
      <p class="information__about-tittle">ABOUT</p>
      <p class="information__about-text"></p>
      <ul class="modal__action-buttons">
        <button class="action-btn watched-button">ADD TO WATCHED</button>
        <button class="action-btn addToQueue-button">ADD TO QUEUE</button>
      </ul>
    </div>
  </div>
</div>
