<div data-modal class="backdrop is-hidden">
  <div class="modal">
    <div class="modal__btn-close" data-modal-close>
      <svg class="modal__btn-svg">
        <use href="/src/images/svg/svg-icons.svg#icon-close"></use>
      </svg>
    </div>
    <div class="modal_img"></div>
    <div class="modal__information">
      <h2 class="information__title">TITULO PELICULA</h2>
      <div class="information__data">
        <ul class="information__data-tittle">
          <li>knfwaegnebg</li>
          <li>knfwaegnebg</li>
          <li>knfwaegnebg</li>
          <li>knfwaegnebg</li>
        </ul>
        <ul class="information__data-values">
          <li>asfafgafg</li>
          <li>asfafgafg</li>
          <li>asfafgafg</li>
          <li>asfafgafg</li>
        </ul>
      </div>
      <p class="information__about-tittle">ABOUT</p>
      <p class="information__about-text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta itaque
        tenetur cumque voluptates laudantium rem laboriosam quis? Corrupti
        repellendus dolorem quisquam explicabo dolore! Itaque beatae aperiam
        fuga minima fugiat impedit.
      </p>
      <ul class="modal__action-buttons">
        <button class="action-btn">ADD TO WATCHED</button>
        <button class="action-btn">ADD TO QUEUE</button>
      </ul>
    </div>
  </div>
</div>
